<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    {% load bootstrap4 %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% bootstrap_css %}         {# Embed Bootstrap CSS #}
    {% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
    <script src="{% static "gestion_lecteurs/js/script.js" %}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
   <title>{% block title %}Outils du SCOOP{% endblock %}</title>

</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h5 class="my-0 mr-md-auto font-weight-normal">Utilitaires</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                {% block nav %}
                <a class="p-2 text-dark" href="/lecteurs/recherche-lecteur">Lecteurs</a>
                <a class="p-2 text-dark" href="#">Enterprise</a>
                <a class="p-2 text-dark" href="#">Support</a>
                <a class="p-2 text-dark" href="#">Pricing</a>
                {% endblock %}
            </nav>
            <a class="btn btn-outline-primary" href="#">Sign up</a>
    </div>
   <div class="container">
       {% block content %}{% endblock %}
   </div>
<footer>&copy; Loux</footer>
</body>
</html>