{% extends "base.html" %}
{% block title %}{{ identifiant }}{% endblock %}
{% block content %}
<div class="container-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">{{ type_identifiant }} : {{ identifiant }} </h1>
</div>
<div class="py-3">
    {% if user.error %}
    <div class="alert alert-danger" role="alert">
        Aïe !!! L'API {{ user.error_API }} a planté sur linstitution {{ user.error_institution }}. La raison : " {{ user.error_message }} ".
        <p>Contactez votre admindstrateur.</p>
    </div>
    {% elif user.ckeck_if_unknowed_user %}
    <div class="alert alert-danger" role="alert">
            Identifiant inconnu du système.  <a href="{% url "recherche-lecteur" %}" class="alert-link">Relancer votre recherche</a>
    </div>
    {% else %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            {% for inst, values in user.user_data.items %}
            <th scope="col">{{ inst }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
            {% for key, datas in user_data_in_table.items %}
            <tr>
                <th scope="row">{{ key }}</th>
                {% for data in datas %}
                    {% if data > 0%}
                <td class="table-danger">{{ data }}</th>
                    {% else %}
                <td>{{ data }}</th>
                    {% endif %}
                {% endfor %}
               
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th scope="col">Redistribution</th>
                {% for inst, values in user.user_data.items %}
                <th scope="col">
                    {% if inst != 'NETWORK' and values.account_type.value == 'INTERNAL' %}
                        <form action="{% url "distribution-compte-interne" type_identifiant identifiant %}" method="post" class="form">
                            {% csrf_token %}
                            <div class="input-group">
                                <select class="custom-select" id="id_categorie_usagers" name="categorie_usagers">
                                        <option selected>Choisissez une catégorie</option>
                                        <option value="PEB_attente">Bibliothèque PEB</option>
                                        <option value="Exterieur_attente">Lecteur Exterieur</option>
                                </select>
                                <input type="hidden" id="id_etab" name="etab" value="{{ inst }}">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="submit">Modifier</button>
                                </div>
                            </div>
                        </form>
                        {% endif %}
                </th>
                {% endfor %}
            </tr>
    </tfoot>
    </table>
    <div class="py-3">
        <a href="{% url 'suppr-lecteur' identifiant user.get_user_institutions_string %}" 
            class="btn btn-primary btn-lg {% if user.is_not_deletable == 'true' %} disabled {% endif %}" 
            role="button" aria-disabled="{{ user.is_not_deletable }}">Supprimer le compte</a>
        <a href="{% url 'modif-lecteur' identifiant %}"
            class="btn btn-secondary btn-lg" role="button">Modifier le compte</a>
    </div>
    {% endif %}
</div>
{% endblock %}