{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}Modif {{ identifiant }}{% endblock %}
{% block content %}
<div class="container-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">{{ identifiant }}</h1>
        <p class="lead">Permet de voir dans quelles institutions se trouve le compte du lecteur et s'il a des transactions dans celle-ci.</p>
</div>
<div class="py-3">
        <form name="form_modif_lecteur" action="{% url 'modif-lecteur' identifiant list_etab %}"  onsubmit="return validateForm()" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {{ form.media }}

            {% buttons %}
                <button type="submit" id="button_modif_lecteur"class="btn btn-primary">Submit</button>
            {% endbuttons %}
        </form>
</div>
{% if error %}
<div class="alert alert-warning" role="alert">
        <p>Nouvel Id : {{ new_id_lecteur }}</p>
        <p>Nouvelle date : {{ expiry_date }}</p>
</div>
{% endif %}
{% endblock %}